html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
.mdl-demo main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 48px;
}
.mdl-demo .mdl-card {
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
    margin: 40px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
}
.section--center {
    max-width: 860px;
    margin-top: 16px;
}
.mdl-demo section > header{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mdl-demo section > header > .material-icons {
    font-size: 3rem;
}
.mdl-demo section > button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
.mdl-demo section .section__circle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.mdl-demo section .section__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px;
}
.mdl-demo section .section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
    text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 8px 32px;
}
.mdl-demo .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 8px 16px;
}
.mdl-demo section.section--footer {
    padding: 64px 0;
    margin: 0 -8px -8px -8px;
}
.mdl-demo #features section {
    margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
    margin-bottom: 16px;
}
.demo-card-event.mdl-card i, .demo-card-event.mdl-card span, .demo-card-event.mdl-card a {
    color: white;
}
.demo-card-event.mdl-card.safe_confirmed {
    background: #4CAF50;
}
.demo-card-event.mdl-card.not_confirmed {
    background: #F44336;
}
.demo-card-event.mdl-card.unsafe_confirmed {
    background: #FFEB3B;
}
.demo-card-event.mdl-card.unsafe_confirmed i, .demo-card-event.mdl-card.unsafe_confirmed span, .demo-card-event.mdl-card.unsafe_confirmed a {
    color: black;
}
.demo-card-event.mdl-card.unsafe_confirmed > .mdl-card__actions {
    border-color: rgba(0, 0, 0, 0.3);
}
.mdl-color--primary {
    background: #547bc0 !important;
}
.search button {
    width: 48px;
    margin-left: -50px;
    position: relative;
    top: 6px;
    cursor: pointer;
    bottom: 0;
    background: transparent;
    border: none;
}
.search input {
    background: #fff;
    height: 44px;
    padding: 0 22px;
    border-radius: 2px 2px 2px 2px;
    border: 0;
    outline: 0;
    color: #757575;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
}
.mdl-demo section.section--footer {
    margin: 56px -8px -8px -8px;
}
.word_break {
    word-break: break-all;
}
.mdl-demo .mdl-layout__content section:not(:last-of-type) {
    margin-bottom: 8px;
}
.mdl-card {
    width: 100%;
}
@media (max-width: 839px) and (min-width: 480px) {
    .mdl-cell {
        margin: 0;
    }
}

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
.mdl-demo .mdl-layout__header-row {
    padding-left: 40px;
}
undefined.mdl-demo .mdl-card {
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mdl-demo .mdl-card > * {
    height: auto;
}
undefined
.mdl-demo .mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 0;
}
.section--center {
    max-width: 860px;
    margin-top: 16px;
}
undefined.mdl-demo section .section__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px;
}
.mdl-demo section .section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}
undefined.mdl-demo section .section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 8px 32px;
}
undefined.mdl-demo section.section--footer {
    padding: 64px 0;
    margin: 0 -8px -8px -8px;
}
undefined.demo-card-event.mdl-card i, .demo-card-event.mdl-card span, .demo-card-event.mdl-card a {
    color: white;
}
.demo-card-event.mdl-card.safe_confirmed {
    background: #4CAF50;
}
.demo-card-event.mdl-card.not_confirmed {
    background: #F44336;
}
.demo-card-event.mdl-card.unsafe_confirmed {
    background: #FFEB3B;
}
.demo-card-event.mdl-card.unsafe_confirmed i, .demo-card-event.mdl-card.unsafe_confirmed span, .demo-card-event.mdl-card.unsafe_confirmed a {
    color: black;
}
.demo-card-event.mdl-card.unsafe_confirmed > .mdl-card__actions {
    border-color: rgba(0, 0, 0, 0.3);
}
undefined.mdl-list {
    padding: 8px 0 8px 0;
}
undefined.search button {
    width: 48px;
    margin-left: -50px;
    position: relative;
    top: 6px;
    cursor: pointer;
    bottom: 0;
    background: transparent;
    border: none;
}
.search input {
    background: #fff;
    height: 44px;
    padding: 0 22px;
    border-radius: 2px 2px 2px 2px;
    border: 0;
    outline: 0;
    color: #757575;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
}
.mdl-demo section.section--footer {
    margin: 56px -8px -8px -8px;
}
.mdl-demo .mdl-layout__header-row {
    padding-left: 20px;
}
.word_break {
    word-break: break-all;
}
.mdl-demo .mdl-layout__content section:not(:last-of-type) {
    margin-bottom: 8px;
}
.mdl-card {
    width: 100%;
}
@media (max-width: 839px) and (min-width: 480px) {
    .mdl-cell {
        margin: 0;
    }
}